<mat-card>
  <h3>Material pallete</h3>

  <p class="box-shadow {{ selected }}">{{ selected }}</p>

  <mat-card-content>
    <table class="clean-spacing-table" style="padding:5px;">
      <tr *ngFor="let col of colors">
        <td (click)="selected = 'mat-' + col">
          <div
            mat-ripple
            [matRippleCentered]="true"
            [matRippleUnbounded]="false"
            class=" pallete-box mat-{{ col }}"
          >
            {{ col }}
          </div>
        </td>

        <td
          (click)="selected = 'mat-' + col + '-' + sucol"
          *ngFor="let sucol of subColors"
        >
          <div
            mat-ripple
            [matRippleCentered]="true"
            [matRippleUnbounded]="false"
            class=" pallete-box mat-{{ col }}-{{ sucol }}"
          >
            {{ sucol }}
          </div>
        </td>
      </tr>
    </table>

    <div *ngFor="let u of users">
      <div *ngFor="let info of u.Infos">{{ info }}</div>
    </div>
  </mat-card-content>
</mat-card>
