.example-tree-node {
  display: flex;
  align-items: center;
}
::ng-deep {
  .mat-tree-node {
    min-height: 24px !important;
  }
  .mat-icon-button {
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
  }
  .mat-tree-node {
  }
  .tree-line {
    border: 1px dotted grey;
    border-width: 0 0 1px 1px;
  }
}
